.link{
display: flex;
justify-content: space-around;
margin: 10px;
}
.app-route{
border:1px solid black;
box-sizing: border-box;
min-height: 50px;
width: 900px;
}   
.app-users{
background-color: rgb(211, 88, 66);
}
.app-users-post{
    background-color: rgb(98, 196, 163);
}                           
.coment{
background-color: silver;
}

